.footer {
  width: 100%;
  height: 690px;
  padding: 130px 0px;
  background-color: #3c90f7;
  &_container {
    width: 75%;
    height: 560px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    &_top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &_block {
        p {
          color: white;
          font-size: 17px;
          margin-bottom: 1.5rem;
        }
        ul {
          li {
            margin-bottom: 20px;
            color: rgba(255, 255, 255, 0.7);
            text-decoration: underline;
            cursor: pointer;
            transition: 300ms;
            &:hover {
              color: rgba(255, 255, 255, 1);
            }
          }
        }
        .icon {
          display: flex;
          gap: 5px;
          margin-bottom: 3rem;
          i {
            text-decoration: none;
            width: 50px;
            height: 50px;
            display: inline-block;
            border-radius: 50%;
            background: #fff;
            text-align: center;
            line-height: 50px;
            color: #3c90f7;
            cursor: pointer;
          }
        }
        span {
          font-size: 17px;
          color: #fff;
        }
        .input {
          display: flex;
          margin-top: 1.5rem;
          input {
            border: 1px solid #fff !important;
            color: white;
            border: none;
            border-radius: 7px !important;
            margin-right: 6px !important;
            background-color: transparent;
            height: 43px;
            padding: 6px 12px;
            &::placeholder{
                color: white;
                font-size: 15px;
            }
          }
          button{
            border-radius: 7px !important;
            background: #fff;
                width: 92px;
                height: 43px;
                border: none;
              }
        }
      }
    }
    &_bottom {
      margin-top: 3rem !important;
      padding-top: 3rem !important;
      width: 100%;
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
      p{
        padding-top: 3rem !important;
        color: white;
        font-size: 14px;
        span{
            color: red;

        }
        a{
            color: white;
            text-decoration: underline;
            cursor: pointer;
        }
      }
    }
  }
}
