.services {
  width: 100%;
  height: 900px;
  &_container {
    width: 75%;
    height: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    &_title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      span {
        font-weight: 700;
        letter-spacing: 0.2rem;
        color: gray;
        font-size: 11px;
      }
      p {
        font-size: 40px;
        color: black;
        font-weight: bold;
        span {
          font-size: 40px;
          color: black;
          font-weight: bold;
          color: #3c9105;
        }
      }
    }
    &_allCard {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      &_card {
        display: flex;
        background: #f8f9fa;
        border-radius: 7px;
        width: 350px;
        height: 266px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        transition: all 300ms;
        i {
          color: #3c90f7;
          font-size: 46px;
          margin-bottom: 20px;
        }
        span {
          font-size: 18px;
          color: #000;
          margin-bottom: 20px;
        }
        p {
          font-size: 14px;
          color: #aaa;
          width: 270px;
          text-align: center;
        }
        &:hover{
            background-color: #8cba51;
        }
        &:hover i{
            color: white;
        }
        &:hover span{
            color: white;
        }
        &:hover p{
            color: white;
        }
      }
    }
  }
}
